<div class="container">
  <div class="row">
    <div class="col-md-3">
      <img [src]="img" height="150px" width="150px" />
    </div>
    <div class="col-md-6">
      <form action="inicio">
        <div class="form-group">
          <label for="username">Nombre Usuario</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre usuario"
          />
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" placeholder="Password" />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>        
      </form>
    </div>
  </div>
</div>
